#tab-list-container{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    background: var(--navy);
    /*border-bottom: var(--border);*/
}

#tab-list {
    display: flex;
    flex-direction: row;
}


.tab-wrapper {
  display: flex;
}

.displayContainer {
  height: 600px;
  padding: 30px;
  background-color: var(--periwinkle);
}

.fa.fa-times {
  color: white;
}

.tab {
    background: var(--navy);
    margin-right: 0.5em;
    padding: 10px;
    padding-right: 2.25em;
    text-align: center;
    vertical-align: middle;
    display: flex;
    font-family:oswald;
    font-size: 20px;
    color: white;
}

.tab:hover {
  background-color: var(--lightpink);
}


.currentTab {
  background: var(--periwinkle);
  margin-right: 0.5em;
  padding: 10px;
  padding-right: 2.25em;
  text-align: center;
  vertical-align: middle;
  display: flex;
  font-family:oswald;
  font-size: 20px;
}

.delete {
  float: right;
  display: flex;
  max-height: 1em;
  /* margin-left: 1em; */
  margin-right: 0.75em;
  margin-top: -1.8em;
  color: black;
  padding: 2px;
  z-index: 400;
}

.delete:hover {
    background-color: darkgrey;
    color: white;
}
