.rbc-calendar {
  min-height: 550px;
  max-height: 550px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;

}
.rbc-time-content { flex: 1; }

&.rbc-overflowing {
  border-right: 1px solid @cell-border;
}
