.deleteButton {
  height: auto;
  width: auto;
  font-size: 15px;
  cursor:pointer;
  background-color:#202060;
  display:inline-block;
  padding:3px 5px;
  margin:5px;
  border-radius:10px;
  font-size: 17px;
  color:#F9F8F8;
}
