#displayContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#pbar {

}

.box {
  margin: auto;
  width: 87%;
  border: 3px solid rgb(125,125,125);
  padding: 10px;
  margin: 10px;
}

.info {
  color: rgb(125,125,125);
  font-style: italic;
}
