#tablist_container {
    width: auto;
    height: 5%;
    display: flex;
    flex-direction: row;

    padding: 5px;
    background: cornflowerblue;
    margin-bottom: 5px;
    border-bottom: var(--pinkborder);
}

.tab {
    background: salmon;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
