:root {
  --offwhite-bg: #F9F8F8;
  --pinkline: #FF5191;
  --pinkborder: 2px solid var(--pinkline);
}

body {
  width: 1000px;
  height: 650px;
  padding: 0;
}

#appContainer {
  background: var(--offwhite-bg);
  width: 100%;
  height: 100%;
}
